@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&family=Staatliches&display=swap');

body{
  
  background-color: #fff0e5 !important;
  font-family: 'Roboto Mono', monospace !important;

}

/* .BodyDiv{
  height: 50%;
} */



