.InfoCard.card.card-body{

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding:3%;
  border-radius: 0%;
  font-size: 1.5em;
  max-width: 95%;
  min-height: 50%;
  height: 100%;
  transition: all .2s ease-in-out;
}
.InfoCard.card.card-body:hover{
  box-shadow: -10px 10px 0px -2px black;
	transform: translate(5px, -1px);
}

.InfoCard-Text{
  font-weight: lighter;
  font-size: .75em;
};

.InfoCard-Button.btn:hover{
  background-color: rgb(122, 122, 122);
}

.InfoCardDiv{
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 40%;
  

}
.InfoCard li{
  background-color: #b7b7a4 ;
  margin-top: 3%;
  border:solid 2px white;
}
.InfoCard li:hover{
  background-color: #b7b7a4 ;
  border:solid 2px black;
  margin-top: 3%;
}
.InfoCard h4{
  font-weight: lighter;
  font-size: 1.3em;
}
.InfoCard a{
  font-weight: bolder;
  color:rgb(51, 181, 185)
}