.InfoCardLarge.card.card-body{
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  margin-bottom: 10%;
  padding:5%;
  border-radius: 0%;
  width:100%;
  font-size: 1.5em;
  transition: all .2s ease-in-out;
}

.InfoCardLarge.card.card-body:hover{
  box-shadow: -10px 10px 0px -2px black;
	transform: translate(5px, -1px);
}

.InfoCardLarge-Text{
  font-weight: lighter;
}

.InfoCardLarge-Button.btn{
  border-radius: 0%;
  width:40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #b7b7a4;
  color: #fff0e5;
  border: solid black 1px;
  font-family: 'Roboto Mono', monospace;
  font-size:70%;
}

.InfoCardLarge-Button.btn:hover{
  background-color: rgb(122, 122, 122);
}


.InfoCardLoadingBar{
  background-color: burlywood;
  width: 40%;
}

.card-title{
  padding-bottom: 1rem;
}
.svg-inline--fa{
  margin-top: 3%;
}

.svg-inline--fa + .svg-inline--fa{
  margin-left: 4%;
}

.SkillLogo{
 padding: 1.5vw;
 margin-top: 2vw;
}
.icon:hover{
  color:#ffb703;
}

.infoCardLargeBrands{
  /* display: inline-flex; */
  justify-content: center;

}