.NavBarMain{
  padding-left: 5%;
  background-color:#fff0e5;
  font-size: 22px;
  
} 

.border.border-dark{
  border-radius: 0%;
}

.NavBar-menu.dropdown-item:hover{
  background-color: #a5a58d;
}

.NavBar-menu.dropdown-item{
  font-weight: lighter;
  font-size: 20px;
}

.nav-link{
  border-bottom: solid 3px #fff0e5;
}

.nav-link:hover{
  border-bottom: solid 3px black;
}
.dropLink{
  text-decoration: none;
  font-size: 20px;
}

.iconLink{
  font-size: 1.5em;
}

.name-logo{
  color:pink
}

h2{
  padding-bottom: 10px;
}