.NavBarMain{
  padding-left: 5%;
  background-color:#fff0e5;
  
} 

.border.border-dark{
  border-radius: 0%;
}

.NavBar-menu.dropdown-item:hover{
  background-color: #a5a58d;
}

.NavBar-menu.dropdown-item{
  font-weight: lighter;
}

.nav-link{
  border-bottom: solid 3px #fff0e5;
}

.nav-link:hover{
  border-bottom: solid 3px black;
}
.dropLink{
  text-decoration: none;
}